<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin page</h1>
<div style="color: green" th:text="*{success}"></div>
<form method="get">
    <div>
        <input value="Create new exercise" type="submit" formaction="/addExercise">
        <input value="Show all exercises" type="submit" formaction="/showExistedExercises">
        <input value="Approving" type="submit" formaction="/showApprovingPage">
        <input value="Logout" type="submit" formaction="/logout">
    </div>
    <div th:if="${templateName}">
        <div th:insert="~{*{templateName} :: fragment}"> </div>
    </div>

    <div style="color: red" th:text="*{error}"></div>
</form>
</body>
</html>